.ui.comments .comment .avatar img {
  border-radius: 500rem !important;
}
.ui.comments .comment .avatar{
  margin: 0px !important;
}
.ReplyTextArea {
  width: 95% !important;
  margin-left: 5% !important;
}
.CommentButton{
  float: right;
}
.CommentContents{
  margin-left: 45px !important;
}
