.Wrapper {
  border: 1px solid gray;
  width: 500px;
  border-radius: 10px;
}
.Header {
  width: 100%;
  height: 30px;
  text-align: right;
}
.Edit {
  padding: 15px 15px 0px 0px;
}
.Upper {
  width: 100%;
  height: 150px;
  display: flex;
}
.UpperLeft {
  width: 40%;
  height: 100%;
  position: relative;
}
.ProfilePicture {
  margin-left: 15px;
  width: 150px;
  height: 150px;
  border-radius: 500rem;
}
.UpperRight {
  width: 60%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 30px;
}
.NameContainer {
  text-align: left;
}
.Username {
  font-family: 'NanumSquare', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: black;
}
.Nickname {
  font-family: 'NanumSquare', sans-serif;
  font-size: 15px;
  color: gray;
}
.ProfileComment {
  font-family: 'Nanum Gothic', sans-serif;
  margin-top: 5px;
  font-size: 12px;
  color: gray;
}
.Lower {
  height: auto;
  text-align: left;
  padding: 10px 20px 10px 20px;
}
.Profile_Text {
  font-size: 25px;
  padding: 10px 30px 10px 30px;
  background-color: lightgray;
  border-radius: 5px;
}
.Footer {
  display: flex;
}
.FooterLeft {
  width: 50%;
  align-content: left;
}
.FooterRight {
  width: 50%;
  align-content: right;
}
.FollowStatus {
  font-family: 'NanumSquare', sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding-top: 5px;
}
.Follow {
  text-align: right;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
}
