.UserReviewTab {
  width: 100%;
  margin: 10px;
}
.ui.attached.tabular.menu {
  display: flex;
  justify-content: center;
}

.ui.tabular.menu > .item {
  display: flex;
  justify-content: center;
  width: 200px;
}
