.Wrapper {
  border: 1px solid gray;
  width: 500px;
  border-radius: 10px;
}
.Header {
  text-align: right;
}
.Edit {
  padding: 15px 15px 0px 0px;
}
.Upper {
  width: 100%;
  height: 150px;
  display: flex;
}
.UpperLeft {
  width: 40%;
  height: 100%;
  position: relative;
}
.UploadBox.label {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: 0.25em;
}

.UploadBox.input[type='file'] {
  background-color: red !important;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.ProfilePictureEdit {
  position: absolute;
  margin-left: 15px;
  width: 150px;
  height: 150px;
  border-radius: 500rem;
}
.ProfilePicture {
  margin-left: 15px;
  width: 150px;
  height: 150px;
  border-radius: 500rem;
}
.UpperRight {
  width: 60%;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 30px;
}
.NameContainer {
  text-align: left;
}
.Username {
  font-family: 'NanumSquare', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: black;
  margin-left: 6px;
}
.Nickname {
  padding-left: 6px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 15px;
  color: gray;
}
.NicknameContainer {
  display: flex;
  height: 45px;
  align-items: center;
}
.NicknameForm {
  height: 45px;
  padding-left: 5px;
  width: 200px;
  font-family: 'NanumSquare', sans-serif;
  font-weight: 700;
  font-size: 25px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
}
.Comment {
  padding-top: 3px;
  padding-left: 3px;
  font-family: 'Nanum Gothic', sans-serif;
}
.ProfileComment {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 280px;
  height: 80px;
  font-family: 'Nanum Gothic', sans-serif;
  margin-top: 5px;
  font-size: 12px;
  color: gray;
}
.Lower {
  height: auto;
  text-align: left;
  padding: 10px 20px 10px 20px;
}
.commentForm {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 12px;
  color: gray;
  height: 100px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  resize: none;
  width: 273px;
}
.Profile_Text {
  font-size: 25px;
  padding: 10px 30px 10px 30px;
  background-color: lightgray;
  border-radius: 5px;
}
.Footer {
  display: flex;
  height: 120px;
}
.FooterLeft {
  width: 50%;
  align-content: left;
}
.FooterRight {
  width: 50%;
  display: flex;
  align-content: right;
  align-items: flex-end;
  justify-content: flex-end;
}
.FollowStatus {
  font-family: 'NanumSquare', sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding-top: 5px;
  cursor: pointer;
}
.Follow {
  text-align: right;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
}
.EditButtonImage {
  cursor: pointer;
}
.EditConfirmButtonImage {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .Wrapper {
    width: 95%;
  }
  .commentForm {
    margin-left: 10%;
    width: 50%;
  }
  .ProfileComment {
    width: 50%;
  }
}
