.ReviewContainer {
    padding-left: 25%;
    padding-right: 25%;
    margin: 10px;
  }

.ReviewTitleStyle {
    padding-left: 25%;
    padding-right: 25%;
    text-align: left;
    margin: 10px;
}
  
  