.ReviewContainer {
    font-family: 'Nanum Gothic', sans-serif;
    padding-left: 25%;
    padding-right: 25%;
    margin: 10px;
    white-space: pre-wrap;
    text-align: left;
    line-height: 1.5;
    font-size: 14px;
}

#ReviewDetailBookInfo{
    color: black;
}

.ReviewDetail{
    padding-top: 1%;
}

.AuthorProfile{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 25%;
}

.AuthorDateInfo{
    display: flex;
    justify-content: space-between;
}

.ReviewDateInfo{
    text-align: right;
    padding-right: 25%;
    font-size: 0.85714286em;
  display: flex;
  align-items: center;
}

.ReviewTitleStyle {
    padding-left: 25%;
    padding-right: 25%;
    text-align: justify;
    margin: 10px;
}

.ReviewDetailTitle {
    font-family: 'NanumSquare', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

.LikeButton {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: right;
}
  
.ui.container {
    width: 900px;
    margin-left: auto!important;
    margin-right: auto!important;
}