
.pagination{
    margin-top:3rem;
    margin-bottom:1rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page-item.active .page-link{
    background-color: rgb(119, 119, 119) !important;
    border-color: white !important;
    color: white !important;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000000 !important;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.TopButton {
    text-align: right !important;
}