.Summary{
    display: flex;
    justify-content: center;
    padding:1rem;
}
.inside{
    display: flex;
    flex-basis: 600px;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(216, 216, 216);
}
.inside:hover {
    color: DarkCyan;
}
.book_cover{
    padding: 1rem;
    border: 1px solid rgb(216, 216, 216);
}
.book_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.book_summary{
    padding-top: 10px;
    text-align: left;
    line-height: 2;
}
.book_title{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}