.AddLibraryModal {
  height: 700px !important;
  width: 600px !important;
}

.LibraryContent {
  height: 574px !important;
  margin-right: 0px;
  width: 600px !important;
}

.LibraryTitleInput {
  margin-bottom: 20px;
}

.LibraryBookSearch {
  border-top: 1px solid lightgray !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.LibraryBookSearchHeader {
  height: 40px;
  display: flex;
}

.LibraryChooseBookModal {
  text-align: right;
}

.LibraryBookSearchInner {
  text-align: right;
}

.LibraryAddedBooks {
  padding-top: 20px;
  justify-content: center;
}

.AddedBooks_by_3 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.AddedBookWrapper {
  min-width: 30%;
  margin-left: 5px;
  margin-right: 5px;
}

.AddedBookHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.AddedBookContent {
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddedBookCover {
  height: 90%;
  width: 90%;
}

.dimmed.dimmable > .ui.animating.dimmer,
.dimmed.dimmable > .ui.visible.dimmer,
.ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui.modal,
.ui.active.modal {
  margin: 0 auto !important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease 0.5s;
}

.select-book-button {
  height: 40px !important;
}

.ReviewChooseBookModal {
  height: 100% !important;
}

@media only screen and (max-width: 600px) {
  .AddLibraryModal {
    height: 100% !important;
    width: 100% !important;
  }

  .LibraryContent {
    height: 100% !important;
    margin-right: 0px;
    width: 100% !important;
  }
}
