.BookSummary{
    font-family: 'NanumSquare', sans-serif;
    font-size: 15px;
    text-align: left;
    margin: 10px 10px 50px 10px;
    line-height: 2;
    white-space: pre-wrap;
}

.AuthorInfo{
    font-family: 'NanumSquare', sans-serif;
    font-size: 15px;
    text-align: left;
    margin: 10px;
    line-height: 2;
    white-space: pre-wrap;
}

.Label{
    
  font-family: 'NanumSquare', sans-serif;
  font-weight: 900;
  font-size: 30px;
padding-bottom: 10px;
}