beautifulsoup4==4.8.1
bs4==0.0.1
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
coverage==4.5.4
Django==2.2.13
django-appconf==1.0.3
django-imagekit==4.0.2
google-api-core==1.14.3
google-auth==1.7.0
google-cloud-vision==0.40.0
googleapis-common-protos==1.6.0
grpcio==1.25.0
idna==2.8
pilkit==2.0
Pillow==6.2.1
protobuf==3.10.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pytz==2019.3
requests==2.22.0
rsa==4.0
six==1.12.0
soupsieve==1.9.5
sqlparse==0.3.0
urllib3==1.25.6
