.containerStyle {
  border-top: 3px dashed rgb(179, 179, 179);
  border-bottom: 3px dashed rgb(179, 179, 179);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.imageStyle {
  border: 1px solid rgb(216, 216, 216);
  text-align: center;
  padding: 1rem;
}

.titleStyle {
  font-family: 'NanumSquare', sans-serif;
  font-weight: 900;
  font-size: 20px;
  text-align: left;
}

.infoStyle {
  font-family: 'NanumSquare', sans-serif;
  height: 500px;
  width: auto;
  text-align: left;
  padding: 20px;
};