.containerStyle {
  display: flex;
  justify-content: center;
}

.DetailTabStyle {
  width: 800px;
  margin: 10px;
  white-space: pre-wrap;
}

@media only screen and (max-width: 600px) {
  .DetailTabStyle .item {
    width: 25% !important;
  }
  .DetailTabStyle {
    width: 100% !important;
  }
}
