.alert-light {
    color: black !important; 
}
.box{
    padding: 0px 60px 20px 60px;
    width: auto;
    text-align: left;
    color: black !important;
}
.article{
    background-color: white;
}
.text{
    height: auto;
}
.ReviewTitle{
    font-family: 'NanumSquare', sans-serif;
    color: black !important;
    font-weight: 900;
}
.ReviewEditIcon{
    color: black !important;
}
.ReviewContent{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 7.5rem;
    display: -webkit-box;
    line-height: 1.5rem;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    padding: 20px 0px 0px 0px;
    color: black !important;
}
.PhraseContent{
    font-size: 12px;
    word-wrap:break-word;
    color: black !important;
}
.ReviewAdditionalDetail{
    padding: 0px 0px 0px 60px;
    text-align: left;
}
.ReviewLikeButton{
    text-align: right;
}
.AuthorProfileMain{
    display: flex;
    padding-left: 0px !important;
    margin-bottom: 1rem !important;
    height: 50px;
    justify-content: space-between;
    color: black !important;
}
.ArticleDeleteButton{
    text-align: right;
}
.BookTabsReviewDate{
    text-align: right !important;
    display: flex;
    align-items: center;
    font-size: .85714286em !important;
}
.Review{
    border-radius: 0.5rem;
    box-shadow: 0.3px 0.3px 5px 0px rgb(169, 169, 169);
    color: black !important;
}