.LibraryModal {
  height: 750px !important;
  width: 600px !important;
}

.LibraryList {
  padding: 20px 0px 20px 0px !important;
}

.LibraryContentWrapper {
  height: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.LibraryContent {
  height: auto !important;
  width: 500px !important;
}

.LibraryArea {
  height: 35px;
  align-items: center;
  text-align: left;
  display: flex;
}

.LibraryTitle {
  font-size: 20px;
  font-weight: bold;
  width: auto;
}

.LibraryModalAction {
  display: flex;
  justify-content: flex-end;
}

.BookCoverArea {
  display: flex;
  align-items: center;
  justify-content: center;
}

.BookCoverList {
  height: 100%;
  width: 100%;
  display: flex;
}

.BookCoverWrapper {
  margin-left: 5px;
  margin-right: 5px;
  max-width: 100px !important;
}

.BookCover {
  height: auto;
  max-height: 160px;
  width: 100%;
  cursor: pointer;
}

.dimmed.dimmable > .ui.animating.dimmer,
.dimmed.dimmable > .ui.visible.dimmer,
.ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui.modal,
.ui.active.modal {
  margin: 0 auto !important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease 0.5s;
}

@media only screen and (max-width: 600px) {
  .LibraryModal {
    height: 100% !important;
    width: 100% !important;
  }

  .LibraryContent {
    height: auto !important;
    width: 100% !important;
  }
}
