

.profilePic{
    border-radius: 500rem;
    width: 50px;
    height: 50px;
}
.profile{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.profileName{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    align-items: flex-start;
    justify-content: center;
}