.profilePic {
  border-radius: 500rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.profileName {
  font-family: 'NanumSquare', sans-serif;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
}

.username {
  font-family: 'NanumSquare', sans-serif;
  font-size: 0.85714286em;
}

.ProfileSummary {
  display: flex;
}
