.Filename {
  margin-bottom: 8px;
  font-size: 16px;
  color: #555;
}

.Row {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  padding: 8px;
  overflow: hidden;
  box-sizing: border-box;
}

.ocr-buttons {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-top: 1%;
  padding-bottom: 2%;
}

#ocr-text {
  width: 100%;
  height: 80% !important;
}
#ocr-modal {
  height: auto;
}
