.book_cover {
  height: 200px;
}
.image {
  height: 20%;
}
.box {
  padding: 20px;
  padding-left: 50px;
}
.article {
  background-color: white;
  margin-bottom: 1rem !important;
  width: 100% !important;
  overflow: hidden;
}
.text-box {
  height: 100px;
  overflow: hidden;
}
.alert-secondary {
  color: #383d41;
  background-color: #f6f6f6 !important;
  border-color: #ffffff !important;
}
.AuthorProfileMain {
  display: flex;
  padding-left: 0px !important;
  margin-bottom: 1rem !important;
  height: 50px;
  justify-content: space-between;
}
.MainLikeButton {
  text-align: right;
}
.summary {
  text-align: right !important;
  display: flex;
  align-items: center;
  float: right;
  font-size: 0.85714286em !important;
}
.MainArticleTitle {
  word-wrap:break-word;
  font-family: 'NanumSquare', sans-serif;
  font-weight: 700;
  padding-bottom: 5px;
  
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  line-height: 1.2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 60px;
}
.MainBookTitle {
  font-size: 0.85714286em;
}
.MainArticle {
  text-align: left;
  padding: 0px 20px 20px 50px;
  width: 75%;
}
.MainArticleContent {
  white-space: pre-wrap;
  
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  line-height: 1.2;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  word-wrap: break-word;

  margin: 0.5rem 0 0;
  font-size: 15px !important;
}
#article-title :hover {
  color: black;
}
#article-title {
  color: black;
}
