body {
    background-color: #EBEBEB;
    color: #000;
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: white;
    width: 100%;
    display: flex;
}

.logo {
    padding:0.5rem;
    flex: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.logo .top{
    margin-right: 10%;
}

.logo .bottom{
    margin-left: 10%;
}

.profile{
    flex:auto;
    justify-content: center;
    font-display: center;
}

.profile{
    margin: auto 0;
    justify-content: center;
}
.search{
    flex: auto;
    padding: 40px;
}