body {
    background-color: #EBEBEB;
    color: #000;
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: white;
    width: 100%;
    display: flex;
}

.logo {
    flex: auto;
    width: 0%;
    padding:0.5rem;
}

.profile{
    flex:auto;
    justify-content: center;
    font-display: center;
}

.profile{
    margin: auto 0;
    justify-content: center;
}
.search{
    flex: auto;
    padding: 40px;
}