.profilePic {
  border-radius: 500rem;
  width: 50px;
  height: 50px;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #b6b6b6 !important;
  border-color: #b6b6b6 !important;
}

#search-button {
  color: white;
  background-color: #000000;
  border-color: #000000;
}

.MainHeader {
  width: 100%;
  height: 80px;
  display: flex;
  border-color: black;
}

.logo {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerProfile {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}

.Profile {
  height: 80px;
}

.profileName {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  align-items: center;
  justify-content: center;
}

.ui.inline.dropdown {
  display: flex !important;
}

.HeaderProfileSummary {
  height: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ui.vertical.menu {
  position: relative;
}
.menu-trigger {
  display: flex;
}
.header-alarm-icon {
  margin-left: 10px !important;
  cursor: pointer;
}
.header-icon {
  cursor: pointer;
  align-self: center;
}

.header-alarm-popup {
  max-width: 400px !important;
  max-height: 500px;
  overflow-y: scroll;
}
.header-menu-popup {
  padding: 0px !important;
  margin-top: 0px !important;
  left: 3% !important;
  text-align: center;
}
#toggle-button {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .profile-hidden {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 0%;
    visibility: hidden;
  }
  .logo-image {
    width: 90%;
    height: 80%;
  }

  .header-alarm-popup {
    max-width: 90% !important;
    height: 60%;
    top: 15px !important;
  }
  .ProfileMenu {
    right: 10% !important;
  }
  .header-menu-popup {
    margin: 0px !important;
    padding: 0px !important;
    top: 15px !important;
  }
}
