.infoStyle {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui.button {
    margin: 1.5rem !important;
}

