.infoStyle {
  padding-top: 40px;
  padding-bottom: 20px;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Spinner {
  margin: 50px 0px 0px 0px;
}
