.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.SignUpSmallLabel{
  font-family: 'NanumSquare', sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.SignUpLabel{
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  font-family: 'NanumSquare', sans-serif;
}
.login_page {
  width: 80%;
  padding-top: 5%;
  padding-left: 20%;
}
.signup_page {
  width: 50%;
  padding-top: 5%;
  margin-left: 25%;
}
.login_form{
  text-align: left;
  font-size: 15px;
  font-weight: 700;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SignUpFooter{
  margin-top: 25px;
  text-align: center;
}

#MainLogo {
  width: 80% !important;
  max-width: 600px;
}
.comments {
  box-shadow: inset 0 0 0 1px #383c43;
}
.logout {
  position: absolute;
  left: 0px;
  top: 0px;
}

.NewArticle input,
.NewArticle textarea {
  display: block;
  width: 80%;
  box-sizing: border-box;
  border: 1px solid black;
  outline: none;
  font: inherit;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  #MainLogo {
    width: 80% !important;
  }
  .login_page .divider {
    visibility: hidden;
  }
}
