.ReviewCreateForm {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 0.5%;
  margin: 10px;
}

.FormLabel {
  font-family: 'NanumSquare', sans-serif;
  font-weight: 700;
  font-size: 25px !important;
  text-align: left;
}

.ReviewTypeCheckbox {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.SubmitButton {
  margin-top: 30px !important;
}
@media only screen and (max-width: 600px) {
  .ReviewCreateForm {
    padding-left: 0%;
    padding-right: 0%;
  }
}
